<script src="https://kit.fontawesome.com/186f5e30ba.js" crossorigin="anonymous"></script>

<h1>
  Welcome to
  <i class="fa-solid fa-book"></i>
  <strong>Bookers</strong>
  !
</h1>

<p>
  you can share and exchange your opinions , inpressions , and emotions<br>
  about various books!
</p>

<!--<li class: "btn btn-secondary"></li>-->
 <%= link_to "Log in", new_user_session_path, class: "btn btn-secondary" %>


<!--<li class="nav-item"></li>-->
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>

